# Jetbrains project files
.idea
*.iml

ui/.parcel-cache
ui/.cache
ui/dist
ui/node_modules/
cmd/ghgmodel/ghgmodel
cmd/ghgmodel/ghgmodel-amd64
cmd/ghgmodel/ghgmodel-arm64
pkg/cloud/azureorphan_test.go

# VS Code
.vscode